<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hôpital DoctoPlan</title>
  <!-- 💡 adding the file that makes up the header -->
  <%- include('./includes/header.ejs') %>
</head>

<body>
  <div class="header">
    <h1>DoctoPlan</h1>
    <p>Mail de confirmation</p>
  </div>

  <div class="content">
    <h2>Bonjour !</h2>
    <p>Le service informatique vient de vous créer un droits d’accès au logiciel DPI en tant que <%= dataTemplate.role %>, du service <%= dataTemplate.departementLabel %>
    </p>
    <p>Voici vos informations de connexion : <%= dataTemplate.generatedPassword %> </p>
    <p>
      Lors de votre première connexion, merci de renouveler votre mot de passe pour des raisons de confidentialité et de sécurité. <br /> 
      Ne le communiquez jamais à personne.<br />
      Pour répondre aux normes de sécurité actuellement en vigueur dans l’établissement, votre mot de passe doit comporter au minimum 12 caractères avec une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial. Celui-ci doit être unique et ne pas contenir votre nom, prénom, date de naissance.
    </p>
      <p>Pensez à le renouveler tous les 6 mois (délai raisonnable).</p>
    <%- include('./includes/footer.ejs') %>
</body>

</html>